node_modules/.modules.yaml
node_modules/.bin/prisma
node_modules/.bin/prisma2
node_modules/.pnpm/lock.yaml
node_modules/@prisma/engines/introspection-engine-darwin-arm64
node_modules/@prisma/engines/libquery_engine-darwin-arm64.dylib.node
node_modules/@prisma/engines/LICENSE
node_modules/@prisma/engines/migration-engine-darwin-arm64
node_modules/@prisma/engines/package.json
node_modules/@prisma/engines/prisma-fmt-darwin-arm64
node_modules/@prisma/engines/README.md
node_modules/@prisma/engines/dist/index.d.ts
node_modules/@prisma/engines/dist/index.js
node_modules/@prisma/engines/dist/scripts/localinstall.d.ts
node_modules/@prisma/engines/dist/scripts/localinstall.js
node_modules/@prisma/engines/dist/scripts/postinstall.d.ts
node_modules/@prisma/engines/dist/scripts/postinstall.js
node_modules/@prisma/engines/scripts/postinstall.js
node_modules/prisma/libquery_engine-darwin-arm64.dylib.node
node_modules/prisma/LICENSE
node_modules/prisma/package.json
node_modules/prisma/README.md
node_modules/prisma/build/child.js
node_modules/prisma/build/index.js
node_modules/prisma/build/prisma_fmt_build_bg.wasm
node_modules/prisma/build/xdg-open
node_modules/prisma/build/public/favicon.svg
node_modules/prisma/build/public/icon-1024.png
node_modules/prisma/build/public/index.css
node_modules/prisma/build/public/assets/alert.60ea9f84.svg
node_modules/prisma/build/public/assets/array.1a36c222.svg
node_modules/prisma/build/public/assets/boolean.9188b434.svg
node_modules/prisma/build/public/assets/chevron-down.24f76e3c.svg
node_modules/prisma/build/public/assets/cross.c2610cf5.svg
node_modules/prisma/build/public/assets/datetime.a3bf710a.svg
node_modules/prisma/build/public/assets/download.8d34b65a.svg
node_modules/prisma/build/public/assets/ellipsis.a8c5a34a.svg
node_modules/prisma/build/public/assets/enum.7ec0b64c.svg
node_modules/prisma/build/public/assets/folder.d77b8eaf.svg
node_modules/prisma/build/public/assets/hamburger.5fdadeac.svg
node_modules/prisma/build/public/assets/index.js
node_modules/prisma/build/public/assets/inter-all-400-normal.4c1f8a0d.woff
node_modules/prisma/build/public/assets/inter-all-600-normal.d0a7c8a9.woff
node_modules/prisma/build/public/assets/inter-cyrillic-400-normal.ac97a49e.woff2
node_modules/prisma/build/public/assets/inter-cyrillic-600-normal.2c917f10.woff2
node_modules/prisma/build/public/assets/inter-cyrillic-ext-400-normal.f21a6a97.woff2
node_modules/prisma/build/public/assets/inter-cyrillic-ext-600-normal.bb31f197.woff2
node_modules/prisma/build/public/assets/inter-greek-400-normal.e9163df8.woff2
node_modules/prisma/build/public/assets/inter-greek-600-normal.e644d70f.woff2
node_modules/prisma/build/public/assets/inter-greek-ext-400-normal.43addcc8.woff2
node_modules/prisma/build/public/assets/inter-greek-ext-600-normal.7f437016.woff2
node_modules/prisma/build/public/assets/inter-latin-400-normal.27ae72da.woff2
node_modules/prisma/build/public/assets/inter-latin-600-normal.87d718a2.woff2
node_modules/prisma/build/public/assets/inter-latin-ext-400-normal.5b02c69a.woff2
node_modules/prisma/build/public/assets/inter-latin-ext-600-normal.88feb9e4.woff2
node_modules/prisma/build/public/assets/inter-vietnamese-600-normal.8185dacd.woff2
node_modules/prisma/build/public/assets/jetbrains-mono-all-400-normal.f86807b7.woff
node_modules/prisma/build/public/assets/jetbrains-mono-cyrillic-400-normal.1ae57fe2.woff2
node_modules/prisma/build/public/assets/jetbrains-mono-latin-400-normal.80a5dc9e.woff2
node_modules/prisma/build/public/assets/jetbrains-mono-latin-ext-400-normal.6315c53c.woff2
node_modules/prisma/build/public/assets/logotype.a960b169.svg
node_modules/prisma/build/public/assets/number.85ddf96b.svg
node_modules/prisma/build/public/assets/object.0ba944a6.svg
node_modules/prisma/build/public/assets/play.8811691e.svg
node_modules/prisma/build/public/assets/plus.8fbf7ad3.svg
node_modules/prisma/build/public/assets/refresh.d5448ccc.svg
node_modules/prisma/build/public/assets/search.2ed766ce.svg
node_modules/prisma/build/public/assets/settings.5ad25af2.svg
node_modules/prisma/build/public/assets/string.ea615a24.svg
node_modules/prisma/build/public/assets/tick-indeterminate.aec8a44d.svg
node_modules/prisma/build/public/assets/tick.8cbb6a93.svg
node_modules/prisma/build/public/assets/vendor.js
node_modules/prisma/build/public/http/databrowser.js
node_modules/prisma/build/public/http/splash.js
node_modules/prisma/build/public/pages/http/databrowser.html
node_modules/prisma/build/public/pages/http/splash.html
node_modules/prisma/install/index.js
node_modules/prisma/node_modules/.bin/.ignored_prisma
node_modules/prisma/node_modules/.bin/.ignored_prisma2
node_modules/prisma/node_modules/.bin/prisma
node_modules/prisma/node_modules/.bin/prisma2
node_modules/prisma/preinstall/index.js
node_modules/prisma/prisma-client/edge.d.ts
node_modules/prisma/prisma-client/edge.js
node_modules/prisma/prisma-client/index-browser.js
node_modules/prisma/prisma-client/index.d.ts
node_modules/prisma/prisma-client/index.js
node_modules/prisma/prisma-client/README.md
node_modules/prisma/prisma-client/generator-build/index.js
node_modules/prisma/prisma-client/runtime/edge-esm.js
node_modules/prisma/prisma-client/runtime/edge.js
node_modules/prisma/prisma-client/runtime/index-browser.d.ts
node_modules/prisma/prisma-client/runtime/index-browser.js
node_modules/prisma/prisma-client/runtime/index.d.ts
node_modules/prisma/prisma-client/runtime/index.js
node_modules/prisma/prisma-client/scripts/colors.js
node_modules/prisma/prisma-client/scripts/default-deno-edge.ts
node_modules/prisma/prisma-client/scripts/default-edge.js
node_modules/prisma/prisma-client/scripts/default-index-browser.js
node_modules/prisma/prisma-client/scripts/default-index.d.ts
node_modules/prisma/prisma-client/scripts/default-index.js
node_modules/prisma/prisma-client/scripts/get-packed-client.js
node_modules/prisma/prisma-client/scripts/mock-fs.js
node_modules/prisma/prisma-client/scripts/postinstall.d.ts
node_modules/prisma/prisma-client/scripts/postinstall.js
node_modules/prisma/scripts/install-entry.js
node_modules/prisma/scripts/preinstall-entry.js
